.exercise-item {
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 420px;
    align-items: center;
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
    .exercise-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      .name {
        margin-left: 33%;
        width: 90%;
        margin-bottom: 15px;
      }
      .reps {
        margin-right: 24%;
        width: 10%;
      }
    }
  }